<!DOCTYPE html>
<html>
  <head>
    <title>Vietlott SMARandomT</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Vietlott SMARandomT</h1>
    <p>Welcome to Vietlott SMARandomT. Hit your choice!</p>
    <button class="button" onclick="window.location.href='/645';">
      Mega 645
    </button>
    <button class="button" onclick="window.location.href='/655';">
      Power 655
    </button>
  </body>
</html>
