body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.button {
  background-color: #F8F8F8;
  border-radius: 10px;
  border: 1px solid #D7D7D7;
  color: red;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
}
.button:last-child {
  margin-right: 0;
}
